<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.trumbull_pro.rebulicv_1_0"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:hasCode="true" android:persistent="false">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search_minerals" >
        </activity>
        <activity android:name=".Minerals" >
        </activity>
        <activity android:name=".Miner" >
        </activity>
        <activity android:name=".Graph_copper" >
        </activity>
        <activity android:name=".Bourse_main" >
        </activity>
        <activity android:name=".graph_cooper.DynamicGraph_Cooper" >
        </activity>

        <service
            android:name=".Mining_service"
            android:process=":mining_process" >
        </service>

        <activity
            android:name="ru.trumbull_pro.rebublicv_1_0.price_trade.Trade_copper"
            android:label="@string/title_activity_trade_copper" >
        </activity>
        <activity
            android:name="ru.trumbull_pro.rebulicv_1_0.fragment.Open_order"
            android:label="@string/title_activity_open_order" >
        </activity>
    </application>

</manifest>